@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}
.Montserrat {
  font-family: 'Montserrat', sans-serif !important;
}
.Raleway {
  font-family: 'Raleway', sans-serif !important;
}

.Inter {
  font-family: 'Inter', sans-serif !important;
}

.Roboto {
  font-family: 'Roboto', sans-serif !important;
}

.MuiTypography-root {
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: #7a52f4 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*--------------------- 
        Scrollbar css 
----------------------------------*/
*::-webkit-scrollbar {
  width: 5px;
  background: rgb(193, 193, 193);
  /* display: none; */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #7a52f4;
  border-radius: 10px;
  /* border: 2px solid var(--white); */
}

/*--------------------- 
        Scrollbar css 
----------------------------------*/
.p_relative {
  position: relative;
}

.eye_btn button {
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
}

.MuiIconButton-edgeEnd {
  width: 60px;
  height: 100%;
  border-radius: 0 6px 6px 0 !important;
  background-color: #fff !important;
  border: 1px solid #eee !important;
  border-left: 1px solid #fff !important;
  margin-right: 0px !important;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MuiDialog-paper {
  border-radius: 20px !important;
}

.MuiTabs-flexContainerVertical {
  align-items: flex-start;
}

.MuiTabs-indicator {
  left: 0 !important;
  right: unset !important;
}

.MuiTabs-flexContainerVertical .MuiTab-root {
  width: 100%;
  align-items: flex-start !important;
  padding: 10px 25px !important;
  text-transform: unset !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: #fff !important;
}

.inputbox .input_upload_file {
  position: absolute;
  opacity: 0;
  width: -webkit-fill-available !important;
  height: 100%;
  left: 0;
}

.inputbox input {
  width: 200px !important;
}

.select_askcynthia .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

.select_askcynthia svg {
  color: #7a52f4 !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 2.1rem !important;
}

.select_askcynthia .MuiMenuItem-root {
  width: 300px !important;
}


.input_askcynthia {
  font-size: 40px !important;
  font-weight: 400 !important;
  padding: 25px 80px 10px 25px !important;
  height: 100px !important;
  max-height: 150px !important;
  width: 900px !important;
  border: unset !important;
  /* box-shadow: 0px 4px 0px rgba(3,3,3,0.12) !important; */
  box-shadow: rgba(3, 3, 3, 0.12) 0px 13px 10px -10px;
  color: #7f7f7f !important;
  resize: none !important;
  font-family: 'Roboto', sans-serif !important;
}

.input_askcynthia:focus {
  outline: unset !important;
  /* box-shadow: unset !important; */
  border: unset !important;
  /* border-bottom: 2px solid #7a52f4 !important; */
}

.input_askcynthia::placeholder {
  font-size: 80px !important;
  font-weight: 400 !important;
  height: 100px !important;
  color: #e5e5e5 !important;
}

.ask_cynthia_info .MuiPopover-paper {
  width: 400px;
  height: 400px;
}

/* .MuiLinearProgress-bar {
  background-color: #7a52f4 !important;
} */

.select_askcynthia .MuiSelect-select {
  border: 1.5px solid #fff !important;
}

.select_csv .MuiList-root{
 max-height: 220px !important;
}

/* :root {
  --orange-a7: #ed6c008c !important;
  --pink-a7: #b6006f53 !important;
  --violet-a7: #2d01dd4a !important;
  --pink-a4: #e2008b23 !important;
  --text-shadow-colors: var(--orange-a7), var(--pink-a7), var(--violet-a7), var(--pink-a4) !important;
} */



/* .ask_cynthia_para:hover::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #BE93E4 0%, #9B9EF0 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
} */

/* .ask_cynthia_para:hover::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
} */

/* .MuiFormHelperText-root {
  position: absolute;
  bottom: -20px;
} */
        
html {
  scroll-behavior: smooth;
}